<div id="videoCallHeader" class="fullWidth" style="position:fixed; top: 0px; left: 0px; height: 60px; background-image: url(img/layout/top-bar.png); background-size: 100% 100%; z-index:5; text-align: center; padding-top: 20px;">
    <button id="btnEndVideoCall" data-text="endVideoCall" class="languagespecificHTML" style="background-image: url(img/layout/end-call3.png); background-size: 100% 100%; width: 350px; height: 50px; border-style:none; font-family: lato; font-weight: bold; font-size: 20px; color: white; text-align: left;">END CALL</button>
</div>

<!--
<img id="videoCallIconTop" src="img/layout/icon-video-call.png" width="45" height="45" style="position:fixed; top: 20px; left: 10px; z-index:6;">
-->

<div id="otherPublisherDiv" style="position:fixed; top:<%= callerVideoTop %>px; left:<%= callerVideoLeft %>px; z-index:2;"></div>
<div id="myPublisherDiv" style="position:fixed; top:<%= myVideoTop %>px; left:<%= myVideoLeft %>px; z-index:1;"></div>

<div id="videoCallFooter" class="fullWidth" style="position:fixed; top:<%= bottomBarTop %>px; left: 0px; height: 60px; background-image: url(img/layout/top-bar.png); background-size: 100% 100%; z-index:7; text-align: center; padding-top: 10px;">
    <label id="videoCallLabel" style="font-family: lato; font-weight: bold; font-size: 30px; color: white;" data-text="videoCallFooterLabel" class="languagespecificHTML">Call with <%= followerName %></label>
</div>

<img id="videoCallIconBottom" src="img/layout/icon-video.png" width="65" height="40" style="position:fixed; top: <%= bottomIconTop %>px; left: 10px; z-index:8;">