<div data-role="page" id="pagevideo">
    <div data-role="header" data-position="fixed">
        <div style="height: 20px"></div>
        <div data-role="navbar" style="text-align:center;">
            <ul>
              <li ></li>
              <li >
                <button id="btnEndVideoCall" data-text="endVideoCall" style="background: red; color: white; width: 350px; height: 50px; font-size: large;" class="ui-btn ui-icon-phone ui-btn-icon-left ui-corner-all languagespecificHTML">End video call</button>
              </li>
              <li ></li>
            </ul>
        </div>
    </div>

    <div data-role="main" class="ui-content" style="text-align:center;">
        <div id="myPublisherDiv"></div>
        <div id="otherPublisherDiv"></div>
        <div id="callerInfo" data-role="content" style="top:-150;">
            <img id="picUserCalling" src="" width="250" height="250">
            <h1 id="userCallLabel"></h1>
        </div>
    </div>

    <div id="mainFooter" data-role="footer" data-position="fixed">
        <table>
            <tr>
                <td width="55">
                    <img id="picUserCallingBar" src="" width="50" height="50">
                </td>
                <td width="55">
                </td>
                <td width="700">
                    <label id="videoCallLabel" style="font-weight: bold; font-size: 30px;" data-text="videoCallFooterLabel" class="languagespecificHTML">Call with </label>
                </td>
            </tr>
        </table>
    </div>
</div>