/*li.app-footer {
    padding-top: 10px;
}
*/
.custom-btn {
    width: 95% !important;
}

.countBubl {
	float:left;
	margin-top:-42px;
	margin-left:35px;
	background:#ed1d24;
	color:#fff;
	padding:2px;
}