@font-face {
    font-family: lato;
    src: url(../fonts/lato/Lato-Reg.otf);
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato/Lato-RegIta.otf);
    font-style: italic;
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato/Lato-Bol.otf);
    font-weight: bold;
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato/Lato-BolIta.otf);
    font-weight: bold;
    font-style: italic;
}